body {
  font-family: Arial, sans-serif;
  background: #46855a; /* verde médio escuro */
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff; /* texto branco para contraste */
}

header {
  background-color: rgba(255, 255, 255, 0.05); /* leve transparência */
  padding: 20px;
  border: 5px solid #b8355c; /* bordô médio */
  border-radius: 12px;
  margin: 20px;
}

.qrcodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  border: 5px solid #b8355c;
  border-radius: 12px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

.item {
  width: 220px;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border: 3px solid #b8355c;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #000;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

footer {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  font-size: 14px;
  border: 5px solid #b8355c;
  border-radius: 12px;
  margin: 20px;
}
